/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Reset margins/padding */
* {
  margin: 0;
  padding: 0;
}

/* Add the root element styles */
:root {
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  color: black;
  --bottom-margin: 25px;
}

/* Add the body styles */
body {
  background-color: #475978;
}

/* Clearfix */
.clearfix {
  clear: both;
}

/* Style the content container */
.content-container {
  width: 90;
  margin: 5vw;
  background-color: white;
  min-height: calc(100vh - 10vw);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  padding: 50px 10% 35px 10%;
  box-sizing: border-box;
}

/* Style the title */
.content-container #addmatch-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #475978;
  color: #475978;
}

/* Style the match adding errors/success */
.content-container #addmatch-success {
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid #475978;
  color: #475978;
}

.content-container #addmatch-error {
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid #475978;
  color: #ff0000;
}

/* Style the alliance team teamnumber section */
.content-container .team-teamnumber-div {
  width: 100%;
  margin-bottom: var(--bottom-margin);
}

.content-container .team-teamnumber-div label {
  font-size: 0.8rem;
  font-weight: bold;
}

.content-container .team-teamnumber-div input {
  width: 100%;
  padding: 15px 10px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

.content-container .team-teamnumber-div .number-div,  .content-container .team-teamnumber-div .teamnumber-div {
  float: left;
  width: calc(50% - 10px);
}

.content-container .team-teamnumber-div .number-div {
  margin-right: 10px;
}

.content-container .team-teamnumber-div .teamnumber-div {
  margin-left: 10px;
}


/* Style ther color wheel form section */
.content-container .color-wheel-div {
  width: 100%;
  margin-bottom: var(--bottom-margin);;
}

.content-container .color-wheel-div label {
  font-size: 0.8rem;
  font-weight: bold;
}

.content-container .color-wheel-div select {
  width: 100%;
  padding: 15px 10px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

.content-container .color-wheel-div .color-div,  .content-container .color-wheel-div .wheel-div {
  float: left;
  width: calc(50% - 10px);
}

.content-container .color-wheel-div .color-div {
  margin-right: 10px;
}

.content-container .color-wheel-div .wheel-div {
  margin-left: 10px;
}

/* Style the scored balls form section */
.content-container .scored-balls-div {
  width: 100%;
  margin-bottom: var(--bottom-margin);;
}

.content-container .scored-balls-div .scored-balls-label {
  font-size: 0.8rem;
  font-weight: bold;
}

.content-container .scored-balls-div .scored-balls-inputs input {
  padding: 15px 10px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  width: calc(33.333% - calc(15px * 5));
}

.decrement-button {
  margin-right: 15px;
}

/* Style the hanging bots form section */
.content-container .hanging-bots-div {
  width: 100%;
  margin-bottom: var(--bottom-margin);;
}

.content-container .hanging-bots-div .hanging-div, .content-container .hanging-bots-div .floor-div {
  width: calc(50% - 10px);
  float: left;
}

.content-container .hanging-bots-div label {
  font-size: 0.8rem;
  font-weight: bold;
}

.content-container .hanging-bots-div input {
  width: 100%;
  padding: 15px 10px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

.content-container .hanging-bots-div .hanging-div {
  margin-right: 10px;
}

.content-container .hanging-bots-div .floor-div {
  margin-left: 10px;
}

/* Style the level shield form section */
.content-container .level-shield-div {
  font-size: 0.8rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: var(--bottom-margin);;
}

/* Style the match submit button form section */
.content-container input[type="submit"] {
  width: 100%;
  margin-bottom: var(--bottom-margin);;
  padding: 15px 10px;
  font-size: 0.9em;
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: #475978;
  border: none;
  border-radius: 3px;
  transition: 250ms;
}

.content-container input[type="submit"]:hover {
  cursor: pointer;
  background-color: #222E42;
}

/* Media Queries */
@media (max-width: 800px) {

  /* Hanging bots form section */
  .content-container .hanging-bots-div .hanging-div, .content-container .hanging-bots-div .floor-div {
    float: none;
  }

  .content-container .hanging-bots-div .hanging-div {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .content-container .hanging-bots-div .floor-div {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 20px;
  }

}

@media (max-width: 500px) {
  /* Root styles */
  :root {
    font-size: 13.5px;
    --bottom-margin: 17.5px;
  }

  /* Alliance team number section */
  .content-container .team-teamnumber-div .number-div,  .content-container .team-teamnumber-div .teamnumber-div {
    float: none;
    width: 100%;
  }

  .content-container .team-teamnumber-div .number-div {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .content-container .team-teamnumber-div .teamnumber-div {
    margin-left: 0px;
  }

  /* Color wheel form section */
  .content-container .color-wheel-div .color-div,  .content-container .color-wheel-div .wheel-div {
    float: none;
    width: 100%;
  }

  .content-container .color-wheel-div .color-div {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .content-container .color-wheel-div .wheel-div {
    margin-left: 0px;
  }

  /* Scored balls section */
  .content-container .scored-balls-div .scored-balls-inputs input {
    float: none;
    width: 100%;
  }

  .content-container .scored-balls-div .scored-balls-inputs .low-goal {
    margin-right: 0px;
    margin-bottom: 5px
  }

  .content-container .scored-balls-div .scored-balls-inputs .inner-goal {
    margin: 0px;
    margin-bottom: 5px;
  }

  .content-container .scored-balls-div .scored-balls-inputs .high-goal {
    margin-left: 0px;
  }

}
